.etherum-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    width: 200px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #9E9E9E;
    color: #DCEDC8;
}

.etherum-box header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 32px;
}

.etherum-box main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.etherum-box img {
    height: 50px;
    margin-right: 10px;
}

.etherum-box:hover {
    background-color: #757575;
}